.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.nav-link {
  transition: color var(--transition);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-cl);
}
